.advertising {
    scroll-snap-align: center;
    position: relative;
    background-color: var(--color-yellow);
    padding: 90px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.advertising::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("./assets/images/decorative-line-yellow.png") center/cover no-repeat;
    z-index: 1;
}

.advertising-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; /* Центрируем элементы внутри сетки по горизонтали */
    gap: 32px; /* Отступы между элементами */
    width: 100%; /* Задаем ширину 100% */
    height: 100%; /* Задаем высоту 100% */
}

.advertising-banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.monitor {
    width: 624px;
    height: 430px;
}

.gallery-advertising {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.hp-icon {
    width: 80px;
    aspect-ratio: 1;
}

.cross-icon {
    width: 90px;
    height: 20px;
}

.advertising-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.advertising-title {
    font-family: var(--font-family-accent);
    font-size: clamp(1.875rem, 6.6667vw, var(--title-font-size));
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

.advertising-description {
}

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.feature-text {
    line-height: 1;
}

.paint-icon {
    width: 32px;
    aspect-ratio: 1;
}

.stars-icon {
    width: 32px;
    aspect-ratio: 1;
}

.gp-icon {
    width: 32px;
    aspect-ratio: 1;
}

.advertising-button {
    align-self: flex-start;
}

.monitor-img {
    width: 624px;
    height: 430px
}

@media (max-width: 1024px) {
    .monitor-img {
        width: 460px;
        height: 320px
    }

    .gallery-advertising {
        flex-direction: column;
    }
}

@media (max-width: 860px) {
    .advertising-wrapper {
        grid-template-columns: 1fr;
    }

    .monitor-img {
        width: 296px;
        height: 204px
    }

    .gallery-advertising {
        flex-direction: row;
        gap: 12px;
    }

    .hp-icon {
        width: 44px;
        aspect-ratio: 1;
    }

    .cross-icon {
        width: 50px;
        height: 11px;
    }

    .logo-icon {
        width: 175px;
        height: 44px;
    }
}