*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 20px 50px;
    background-color: var(--color-black);
    color: var(--color-yellow);
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(0);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: var(--color-black);
    background-color: var(--color-black);
    margin: 0;
}

.container {
    max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
    padding-inline: var(--container-padding-x);
    margin: 0 auto;
}

.angles-box {
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
}

/*.decorative-line {*/

/*}*/

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archangelsk';
    src: url('assets/fonts/Archangelsk.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}