.hero {
    background: url("./assets/images/main-banner.jpg") center / cover no-repeat;
    min-height: 100vh;
    display: flex;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; /* Растягивается на всю высоту */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.nav-item {
    width: 30px;
    aspect-ratio: 1;
}

.nav-icon {
    width: 100%;
    aspect-ratio: 1;
}

.cta-box {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 20px;
    max-width: 625px;
    padding: clamp(1.875rem, 0.2083rem + 8.3333vw, 4.375rem);
    background-color: var(--color-yellow);
    transition: all var(--transition-slow);
}

.cta-title {
    font-family: var(--font-family-accent);
    font-size: clamp(1.875rem, 6.6667vw, var(--title-font-size));
    line-height: 1;
}

.cta-button {
    align-self: flex-start;
}

@media (max-width: 768px) {
    .container {
        padding-inline: 10px;
    }

    .header {
        flex-direction: column;
    }

    .nav-item {
        width: 28px;
        min-width: 28px;
    }

    .nav-icon {
        min-width: 28px;
        min-height: 28px;
    }

    .cta-box {
        align-self: center;
        width: 100%;
    }

    .cta-title {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .nav-list {
        column-gap: 30px;
    }

    .nav-item {
        width: 25px;
        min-width: 25px;
    }

    .nav-icon {
        min-width: 25px;
        min-height: 25px;
    }

    .cta-button {
        align-self: center;
        font-size: 1.25rem;
        padding: 10px 50px;
    }
}