.intro {
    position: relative;
    background-color: var(--color-white);
    padding-top: 70px;
    padding-bottom: 140px;
}

.intro::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("./assets/images/decorative-line.jpg") center/cover no-repeat;
    z-index: 1;
}

.intro-title {
    padding-bottom: 25px;
    font-family: var(--font-family-accent);
    font-size: 3.875rem;
    line-height: 1;
}

.intro-description {
    padding-bottom: 70px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.gallery-item {
    width: 100%;
}

.gallery-main {
}

.gallery-featured {
}

/* Адаптивное поведение для sidebar */
@media (max-width: 1350px) {
    .gallery {
        flex-direction: column;
    }

    .gallery-sidebar {
        flex-direction: row;
        width: 100%;
    }

    .gallery-main {
        width: 100%;
    }

    .gallery-featured {
        width: 100%;
    }

    .gallery-item {
        flex: 1;
        background-size: cover;
    }
}

@media (max-width: 1000px) {
    .gallery-sidebar {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 1.875rem;
    }

    .intro-description {
        font-size: 1rem;
    }

}