.intro {
    background-color: var(--color-white);
    padding-block: 70px;
}

.intro-wrapper {
}

.intro-title {
    padding-bottom: 25px;
    font-family: var(--font-family-accent);
    font-size: 3.875rem;
    line-height: 1;
}

.intro-description {
    padding-bottom: 70px;
}

.intro-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.intro-gallery-sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.intro-gallery-item {
    width: 100%;
}

.intro-gallery-main {
}

.intro-gallery-hero {
}

/* Адаптивное поведение для sidebar */
@media (max-width: 1350px) {
    .intro-gallery {
        flex-direction: column;
    }

    .intro-gallery-sidebar {
        flex-direction: row;
        width: 100%;
    }

    .intro-gallery-main {
        width: 100%;
    }

    .intro-gallery-hero {
        width: 100%;
    }

    .intro-gallery-item {
        flex: 1;
        background-size: cover;
    }
}

@media (max-width: 1000px) {
    .intro-gallery-sidebar {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 30px;
    }
    .intro-description {
        font-size: 16px;
    }

}