.intro {
    position: relative;
    background-color: var(--color-white);
    padding-top: 70px;
    padding-bottom: 140px;
    height: auto;
    overflow: hidden;
}

.intro::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("./assets/images/decorative-line.jpg") center/cover no-repeat;
    z-index: 1;
}

.intro-title {
    padding-bottom: 25px;
    font-family: var(--font-family-accent);
    font-size: clamp(1.875rem, 6.6667vw, var(--title-font-size));
    line-height: 1;
}

.intro-description {
    padding-bottom: 70px;
}

/* Основной контейнер для gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between; /* Это помогает элементам располагаться корректно */
    margin-bottom: 100px; /* Добавим отступ снизу, чтобы избежать наложения */
}

.gallery-sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1; /* Устанавливаем гибкость для сайдбара */
}

.gallery-item {
    width: 100%;
    max-width: 100%; /* Убедимся, что изображения не выходят за пределы */
}

.gallery-featured {
    width: 100%; /* Убедимся, что это изображение не выходит за пределы */
}

/* Адаптивные медиа-запросы */
@media (max-width: 1350px) {
    .gallery {
        flex-direction: column;
    }

    .gallery-sidebar {
        flex-direction: row;
        width: 100%;
    }

    .gallery-main {
        width: 100%;
    }

    .gallery-featured {
        width: 100%;
    }

    .gallery-item {
        flex: 1;
        background-size: cover;
    }
}

@media (max-width: 1000px) {
    .gallery-sidebar {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 1.875rem;
    }

    .intro-description {
        font-size: 1rem;
    }

    .gallery {
        flex-direction: column; /* Чтобы элементы не выходили за пределы */
    }
}
